.tool-container {
  background-color: #000 !important;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.tool-title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2em;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-bottom: 10em;
}
