.device-details-card {
  &__title {
    color: #f2f2f2 !important;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    margin-bottom: 1.5rem !important;
    padding-bottom: 0.75rem;
  }

  &__item {
    margin-bottom: 1.25rem;
    padding: 0.9rem 0;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__label {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 900;
    color: #f2f2f2;

    @media (max-width: 768px) {
      margin-bottom: 0.25rem;
      font-weight: 600;
    }
  }

  &__value {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: white;
    text-align: right;
    padding-right: 0;

    @media (max-width: 768px) {
      text-align: left;
      font-weight: 700;
      color: #f0f0f0;
    }
  }
}
